body{
	font-family: "Arial", sans-serif;
}

.login-div{
	padding: auto;
	margin: auto;
	margin-top: 80px;
	border: 10px solid #3768b8;
	border-radius: 20%;
	width: 400px;
	height: 300px;
}

.tab{
	width: 70%;
	height: 30%;
	margin: auto;
	margin-top: 15px;
	margin-bot: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center; 
}

.info-field{
	margin-top: 15%;
}

.tab input[type=text], input[type=password]{
	padding: 5px;
	font-size: 16px;
}

label{ 
	margin: 5px;
	font-weight: bold;
	font-size: 16px;
}

.form-change-password input[type=submit]{
	height: 30px;
	width: 100px;
	margin-top: 10px;
	margin-left: 60%;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
	text-color: white;
	background-color: #81acf0;
	border-radius: 10%;
}


input[type=submit]:hover{
	
	background-color: #347ced;
	cursor: pointer;
	
}

.login-div form h3{
	margin-top: 10px;
	margin-left: 35%;
}

.login-div form p {
	color: red;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 70px;
}