@font-face{
    font-family: 'Roboto';
    src: url('font/Roboto-Black.ttf'), url('font/Roboto-BlackItalic.ttf'),
    	url('font/Roboto-Bold.ttf'), url('font/Roboto-BoldItalic.ttf'), url('font/Roboto-Italic.ttf'),
    	url('font/Roboto-Light.ttf'), url('font/Roboto-LightItalic.ttf'), url('font/Roboto-Medium.ttf'), 
    	url('font/Roboto-MediumItalic.ttf'), url('font/Roboto-Regular.ttf'), url('font/Roboto-Thin.ttf'), 
    	url('font/Roboto-ThinItalic.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;	
}

html{
	font-family: 'Roboto', sans-seriff;
	padding: 0px;
	margin: 0px;
}

body{
	padding: 0px;
}


a{
	text-decoration: none;
	color: inherit;
}
/* css for navbar */

.navbar{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
}

.nav-btn{
	position: relative;
	display: none;
	margin-right: 30px;
}

.btn-dropdown{
	background-color: white;
	border: none;
	outline: none ;
}

.btn-dropdown:hover {background-color: #f1f1f1}
.btn-dropdown:focus {background-color: #f1f1f1}

.menu-dropdown{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	right: 0.5px;
}

.menu-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.show {display: block;}

.navigation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-height: 100px;
	background-color: #f3f3f3;
}

.main-menu{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
}

.main-menu > div{
  flex:1 1 auto;
  text-align:center;
  margin:5px;  
}

.menu > a{
	flex:1 1 auto;
	text-align:center;
	margin:5px;  	
}

.logo{
	float: left;
}

/* end css for navbar */
/* ---------------------------------- */

/* css for header */

.slideshow-container{
	width: 100%;
	margin-top: 105px;
	position: relative;
}

.slide{
	/* display: none; */
	background-image: url("img/img-1.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;

}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: 3%;
	height: 7%;
	margin-top: -22px;
	text-align: center;
	vertical-align: middle;
	color: white;
	background-color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

#header-content{
	position: absolute;
	width: 35%;

}

#header-title{
	font-size: 10vh;
}

#header-inside{
	font-size: 3vh;
	font-weight: lighter;
	font-family: 'Roboto-Thin', sans-serif;
}

/* end css for header */


/* responsive handling */
/* navbar */
@media only screen and (max-width: 600px) {
	.menu{
		display: none;
	}
	.nav-btn{
		display: block;
	}

}

@media only screen and (max-width: 900px) {
	
	.slideshow-container{
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
	
	#header-content{
		position: static;
		display: block;
		width: 100%;
		text-align: center;
	}
	

	.prev, .next {
		top:75%;
	}
}