@font-face{
    font-family: 'Roboto';
    src: url('font/Roboto-Black.ttf'), url('font/Roboto-BlackItalic.ttf'),
    	url('font/Roboto-Bold.ttf'), url('font/Roboto-BoldItalic.ttf'), url('font/Roboto-Italic.ttf'),
    	url('font/Roboto-Light.ttf'), url('font/Roboto-LightItalic.ttf'), url('font/Roboto-Medium.ttf'), 
    	url('font/Roboto-MediumItalic.ttf'), url('font/Roboto-Regular.ttf'), url('font/Roboto-Thin.ttf'), 
    	url('font/Roboto-ThinItalic.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;	
}

.normal-txt{
	font-family: 'Roboto-Thin', sans-seriff;
}

html{
	font-family: 'Roboto', sans-seriff;
	padding: 0px;
	margin: 0px;
}

body{
	padding: 0px;
	background-color: #f1f1f1;
}


a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
/* css for navbar */

.navigation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-height: 100px;
	background-color: #f1f1f1;
}



.navbar{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
	padding: 0;
}

.nav-btn{
	position: relative;
	display: none;
	margin-right: 30px;
}

.btn-dropdown{
	background-color: #d9d9d9;
	border-radius: 5%;
	border: none;
	outline: none ;
}

.btn-dropdown:hover {background-color: #f1f1f1}
.btn-dropdown:focus {background-color: #f1f1f1}

.menu-dropdown{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	right: 0.5px;
}

.menu-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.show {display: block;}

.main-menu{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
}

.main-menu > div{
  flex:1 1 auto;
  text-align:center;
  margin:5px;  
}

.menu > a{
	flex:1 1 auto;
	text-align:center;
	margin:5px;  	
}

.logo{
	float: left;
}

/* end css for navbar */

/* ---------------------------------- */

/* css for header */

.slideshow-container{
	width: 100%;
	margin-top: 105px;
	position: relative;
}

.slide{
	display: none;
	background-image: url("img/img-2.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;

}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: 3%;
	height: 7%;
	margin-top: -22px;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

#header-content{
	position: absolute;
	width: 35%;

}

#header-title{
	font-size: 10vh;
}

#header-inside{
	font-size: 3vh;
	font-weight: lighter;
	font-family: 'Roboto-Thin', sans-serif;
}

/* end css for header */

/* ---------------------------------- */
/* css for about zone */

.about{
	position: relative;
	width: 100%;
	background-image: url("img/about.jpg");
	background-size: contain;
	background-repeat: inherit;
	text-align: center;
	vertical-align: middle;
}

.about-info{
	position: absolute;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	width: 60%;
	height: 50%;
	color: white;
	right: 20%;
	top: 20%;
}

.about-item{
	width: 20%;
	height: auto;
	font-size: 25px;
	color: black;
	padding: 20px;
}

.about-icon{
	width: 60px;
	height: 60px;
	float: left;
	margin-bottom: 20px;
}
/* end css for about zone */

/* ---------------------------------------------------------------------- */

/* feature zone css  */

.feature{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: 400px;
}

.feature-item{
	height: 270px;
	width: 192px;
	background-color: #202020;
	margin: 20px;
	text-align: center;
	border-radius: 5%;
}

.feature-img{
	max-width: 100%;
	height: auto;
}
.feature-overview{
	padding-top: 10px;
	vertical-align: middle;
}

.feature-overview a {
	color: white;
	text-decoration: none;
	padding-top: 2px;
	padding-bottom: 2px;
	display: block;
}
  

/* end css for feature zone */

/* --------------------------------------------------------------------- */


/* css for footer */

.footer{
	background-color: #363636;
	height: 200px;
	display: flex;
	flex-direction: row;
	
}

/* end css for footer */

/* --------------------------------------------------------------------- */

/* responsive handling */
/* navbar */
@media only screen and (max-width: 600px){ 
	.menu{
		display: none;
	}
	.nav-btn{
		display: block;
	}

	.about-info{
		flex-direction: column;
		justify-content: center;
		width: 40%;
		left: 30%;
	}

	.about-item{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}

}

@media only screen and (max-width: 950px) {
	
	.slideshow-container{
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
	
	#header-content{
		position: static;
		display: block;
		width: 100%;
		text-align: center;
	}
	
	.prev, .next {
		top:75%;
	}
}