<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MainWebProject</display-name>
  
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<servlet-class>servlet.admin.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminHome</servlet-name>
  	<servlet-class>servlet.admin.AdminHomeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminPhoneList</servlet-name>
  	<servlet-class>servlet.admin.AdminPhoneListServlet</servlet-class>
  </servlet>  
  <servlet>
  	<servlet-name>AddPhone</servlet-name>
  	<servlet-class>servlet.admin.AddPhoneServlet</servlet-class>
  </servlet>  
  <servlet>
  	<servlet-name>ChangePassword</servlet-name>
  	<servlet-class>servlet.admin.ChangePasswordServlet</servlet-class>
  </servlet>  
  <servlet>
  	<servlet-name>EditPhone</servlet-name>
  	<servlet-class>servlet.admin.EditPhoneServlet</servlet-class>
  </servlet>    
  
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminHome</servlet-name>
  	<url-pattern>/admin-home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminPhoneList</servlet-name>
  	<url-pattern>/admin-phone-list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPhone</servlet-name>
  	<url-pattern>/add-phone</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePassword</servlet-name>
  	<url-pattern>/change-password</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditPhone</servlet-name>
  	<url-pattern>/edit-phone</url-pattern>
  </servlet-mapping>  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>